/* 
body{
    margin: 2;
    padding: 1%;
    background-size: contain;
    background-color: orange;
    align-items: center;
    
} */

.hero
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center;
    text font-size: 500px;

}
.background{
    width: auto;
    height: 100vh;
    background-image: url(https://www.hawaiimagazine.com/sites/default/files/field/image/HAWAIIMAG-ZOOM-Kailua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: center;
  
}

.topnav {
    width: 200px;
    height: auto;
    position: absolute;
    top: 40%;
    left: 0;
}

.topnav a{
    text-decoration: none;
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    width: 100%;
    display: inline-block;

}

/* .image {
    position: absolute;
    src: url(https://www.freepngimg.com/thumb/united_states/86509-plant-united-leaf-veteran-states-veterans-day.png);
    right: 0px;
    top: 0px;
    z-index: 10;
} */

.center {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: 15px;
    border: 10px solid black;
    height:80px;
    width: 500px;
    font-size: 40px;
    font-weight: bolder;
    position: center;
      
  /*   margin-top:50px;
    margin-left:500px; */
    
}


.container{
    float: absolute;
    align-items: left;
    justify-content: center;
    
}

.btn {
   
    font-size: 20px;
    font-family: 'Segoe UI';
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border-color: teal;
    cursor: pointer;
    float: left;
}

.btn1:hover{
    transform: rotateZ(10deg)
}

.btn2:hover{
    transform: rotateZ(-10deg)
}

.btn3:hover{
    zoom: 120%;
    background-color: black;
    color: blanchedalmond;
}

.btn4:hover{
    /* transform: rotateX(-20deg) */
    background-color: black;
    color: blanchedalmond;
}


  
  